html, body{
    font-family: 'Times New Roman', Times, serif;
    color: #000 !important;
    background-color: #A0522D !important;
}

.row.content { height: 70%; width: auto;}
@media screen and (max-width: 767px) {
    .sidenav { height: auto; }
    .row.content {height: auto;} 
  }

/*#region NAVBAR*/
    .navbar {
        background-color: #A0522D;
    }
    .navbar a, .navbar a:active, .navbar a:visited{
        color: #000;
        font-weight: bold;
    }
    .navbar a:hover{
        color: #fff;
    }
    .navbar .navbar-brand{
        font-size: 250%;
        margin: 2%;
    }
    .navbar li {
        background-color: #E51400;
        border: 1px solid #A6381F;
        border-radius: 10px;
        font-size: 115%;
    }
/*#endregion */

/*#region SIDENAV*/
    .sidenav {
        height: 100vh;
        background-color: #F0A30A;
        margin: 1%;
        border: 1px solid #C57802;
    }
    .sidenav h4{
        font-size: 170%;
        font-weight: bold;
        text-align: center;
        margin-top: 2%;
    }
    .sidenav p{
        background-color: #E51400;
        color: #fff;
        text-align: center;
        width: 100%;
        height: auto;
        padding: 5%;
        border: 1px solid #B60600;
        box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
        font-size: 140%;
    }
    .sidenav p:hover{
        color: #000;
        font-weight: bold;
    }
/*#endregion */

/*#region MAIN*/
    .main {
        background-color: #60A917;
        height: 100vh;
        margin: 1%;
        border: 1px solid #357F04;
    }
    .card {
        background-color: #D66E3C;
        width: 100%;
        margin: 1%;
        margin-left: 0px;
        box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
    }
    .card .card-body .card-subtitle {
        color: #000;
    }
    .card .card-body .card-title {
        font-weight: bold;
        font-size: 150%;
    }
    .card .card-body .card-text {
        text-align: justify;
    }   
/*#endregion */

/*#region REGISZTRACIO*/
.regisztracio {
    width: 100%;
}
.regisztracio table {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F0A30A;
    border: 1px solid #C3750A;
}
.regisztracio table td{
    padding: 10px;
    font-size: 140%;
}
.regisztracio table h2{
    font-weight: bold;
    font-size: 180%;
    text-align: center;
    margin-bottom: 10%;
}
/*#endregion */

/*#region BEJELENTKEZES*/
.bejelentkezes {
    width: 100%;
}
.bejelentkezes table {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F0A30A;
    border: 1px solid #C3750A;
}
.bejelentkezes table td{
    padding: 10px;
    font-size: 140%;
}
.bejelentkezes table h2{
    font-weight: bold;
    font-size: 180%;
    text-align: center;
    margin-bottom: 10%;
}
/*#endregion */

/*#region JOGOSULTSAGOK*/
.jogosultsagok {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F0A30A;
    padding: 1%;
}
.jogosultsagok table {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 1px solid #C3750A;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
}
.jogosultsagok table th{
    padding: 10px;
    font-size: 120%;
    text-align: center;
    background-color: #FF3333;
    color: #fff;
}
.jogosultsagok table td{
    padding: 10px;
    font-size: 120%;
}
.jogosultsagok table th, .jogosultsagok table td {
    border: 1px solid #000;
    text-align: center;
    padding: 3%;
}
.jogosultsagok h2{
    font-weight: bold;
    font-size: 180%;
    text-align: center;
}
/*#endregion */

/*#region JÓVÁHAGYÁSOK*/
.jovahagyasok {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F0A30A;
    padding: 1%;
}
.jovahagyasok h2{
    font-weight: bold;
    font-size: 180%;
    text-align: center;
}
.jovahagyasok .card {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(234,111,106,1) 100%); 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
}
.jovahagyasok .card .card-body .card-subtitle {
    color: #000;
    margin-bottom: 2%;
}
.jovahagyasok .card .card-body .card-title {
    font-weight: bold;
    font-size: 150%;
    margin-left: 2%;
}
.jovahagyasok .card .card-body .card-text {
    text-align: justify;
    margin-left: 2%;
} 
.jovahagyasok table {
    width: 100%;
}
.jovahagyasok .card .card-body table tr td input[type="submit"].ok {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(155,202,144,1) 100%); 
    border: 1px solid #9BCA90;
    border-radius: 50%;
    padding: 10%;
}
.jovahagyasok .card .card-body table tr td input[type="submit"].no {
    background: #E51400;
    border: 1px solid #C10000;
    border-radius: 50%;
    padding: 10%;
    color: #fff;
}
/*#endregion */